{% extends "admin/base_site.html" %}
{% block content %}
<form action="" method="post">{% csrf_token %}
    <input type="hidden" name="post" value="yes" />
    {% for pipe in pipes %}
    <input type="hidden" name="_selected_action" value="{{ pipe.pk }}" />
  {% endfor %}
      <br/>

 <fieldset>
   <legend>Rango(Opcional) <strong>Si especifica rango, no se procesarán las otras pruebas seleccionadas</strong>:</legend>
  <label for="fname">Inicio:</label>
  <input type="text" id="fname" name="inicio"><br><br>
  <label for="lname">Fin:</label>
  <input type="text" id="lname" name="fin"><br><br>
 </fieldset>

 <fieldset>
   <legend>Actualización de múltiples fechas <strong>(Cambio de estado / fechas)</strong>:</legend>
  <label for="created">Created:</label>
  <input type="date" id="created" name="created"><br><br>

  <label for="moved">Moved:</label>
  <input type="date" id="moved" name="moved"><br><br>

  <label for="estado">Estado:</label>
  <select name="estado" id="estado">
    <option value="creado">Creado</option>
    <option value="enviado">Enviado</option>
  </select>
  <br><br>
 </fieldset>
    <input type="hidden" name="action" value="update_dates" />
    <input type="submit" name="apply" value="update_dates"/>
</form>
{% endblock %}
